.WebContainer{
    width: 100%;
    height: 100%;
}

.page {
    background: linear-gradient(to top, #333333 45%, #1a1a1a 100%);
}

.pagetitle {
    background-color: rgb(143, 143, 143);
    border-radius: 5px;
    width: auto;
    margin: -5px;
}

.content {
    background-color: rgb(114, 114, 114);
    border-radius: 5px;
    margin: auto;
    width: 90%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.content2 {
    background-color: rgb(114, 114, 114);
    border-radius: 5px;
    margin: auto;
    width: 90%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.topnav {
    background-color: rgb(114, 114, 114);
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    width: 90%;
    height: 100%;
}
  
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 25px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
.topnav a:hover {
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
}

.topnav a.active {
    background-color: #bfbfbf;
    color: rgb(255, 255, 255);
 }

.secondimg {
    border-radius: 5px;
}